@import url('https://fonts.googleapis.com/css?family=Open+Sans:bold,semi-bold,thin,regular');

// Colors blue=#445ee9
$primary: #000;
$pink: #FED5C8;
$light-grey: #3c4857;

page-landing {
    img {
        display: table;
        margin: 0 auto;
    }
    .obsidian, .white {
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 50px;
        letter-spacing: 1px;
        text-align: center;
    }
    #obsidian {
        color: $primary;
    }
    #white {
        color: white;
        -webkit-text-stroke: 2px $primary;
    }
    .white {
        margin-top: -50px;
    }
    button {
        font-family: 'Open Sans';
        font-weight: bold;
    }
    .buttons {
        display: table;
        margin: 0 auto;
    }
    .login {
        width: 300px;
        height: 47px;
        display: block;
        border-radius: 4px;
    }
    .signup {
        width: 300px;
        height: 47px;
        display: block;
        border-radius: 4px;
    }

    //For iPhoneSE + smaller
        @media screen and (max-width: 640px) {
            img {
                width: 100px;
                margin-top: 87px;
                margin-bottom: 40px;
            }
            .buttons {
                margin-top: 87px;
            }
            .login {
                margin-top: 20px;
            }
        }
}
