@import url('https://fonts.googleapis.com/css?family=Poppins:bold');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:bold,semi-bold,thin,regular');

// Colors
$primary: #445EE9;
$pink: #FED5C8;
$light-grey: #3c4857;

page-landing {
    #logo {
        display: table;
        margin: 0 auto;
    }
    .title {
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 50px;
        letter-spacing: 1px;
        text-align: center;
    }
    .subtitle {
        font-family: 'Open Sans';
        font-weight: thin;
        font-size: 17px;
        font-style: bold;
        color: $light-grey;
        text-align: center;
    }
    button {
        font-family: 'Open Sans';
        font-weight: bold;
    }
    .buttons {
        display: table;
        margin: 0 auto;
        margin-top: 100px;
    }
    .login {
        width: 300px;
        height: 46px;
        display: block;
        border-radius: 4px;
    }
    .signup {
        width: 300px;
        height: 46px;
        display: block;
        border-radius: 4px;
    }

    //For iPhoneSE + smaller
        @media screen and (max-width: 640px) {
            #logo {
                width: 100px;
                margin-top: 87px;
                margin-bottom: 40px;
            }
            .title {
                color: $primary;
                padding-top: 1px;
            }
            .subtitle {
                margin-top: -48px;
            }
            .buttons {
                margin-top: 70px;
            }
            .login {
                margin-top: 20px;
            }
        }
}
