@import url('https://fonts.googleapis.com/css?family=Poppins:bold');
@import url('https://fonts.googleapis.com/css?family=Josefin Sans:regular');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:bold,semi-bold,thin,regular');
@import url('https://fonts.googleapis.com/css?family=Poppins:bold,semi-bold,thin,regular');

// Colors
$primary: #3c4857;
// $primary: whitesmoke;
$primary: black;
$pink: #FED5C8;
$grey: #5a6169;
$pg-bckgrnd: #343453;
$pg-bckgrnd: whitesmoke;

//fonts
$font: 'Open Sans', bold;
$font: 'Poppins';

page-add-bullet {
    #master{
    background-color: $pg-bckgrnd;}
    #close {
        background-color: $pg-bckgrnd;
        color: $primary;
        float: left;
        position: absolute;
        font-size: 25px;
        top: 0px;
        left: 3px;
    }
    .title {
        text-align: left;
        font-family: $font;
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 1px;
        background-color: $pg-bckgrnd;
        color: black;
        overflow-wrap: break-word;
        word-wrap: break-word;
        white-space: normal;

    }
    .button {
        display: table;
        margin: 0 auto;
        border-radius: 4px;
        margin-top: 30px;
        button {
            font-family: 'Open Sans';
            letter-spacing: 2px;
            width: 280px;
            height: 50px;
            display: block;
        }
    }
    .list {
        padding-top: 70px;
        margin-left: -10px;
        ion-item {
            padding-top: 15px;
            background-color: $pg-bckgrnd;
            overflow-wrap: break-word;
        }
    }
}
