@import url('https://fonts.googleapis.com/css?family=Poppins:bold');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:bold,semi-bold,thin,regular');

// Colors
$primary: #445EE9;
$pink: #FED5C8;
$light-grey: #3c4857;

page-signup {
    #shape {
        display: table;
        margin: 0 auto;
    }
    .title {
        text-align: center;
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 30px;
    }
    button {
        display: block;
        border-radius: 4px;
        font-family: 'Open Sans';
    }
    //For iPhoneSE + smaller
    @media screen and (max-width: 640px) {
        #shape {
            width: 60px;
            margin-top: 27px;
            margin-bottom: 10px;
        }
    }
}
